<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/onepiece.jpg">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div>
            {{>header}}
            <img class='portrait' src="./img/onepiece.jpg">
        </div>
        {{>footer}}
    </body>
</html>