<!DOCTYPE html>
<html>
    <head> 
        <title>Weather</title>
        <link rel="icon" href="/img/onepiece.jpg">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class= >
            {{>header}}
            <p>Use this site to get weather</p>
            <form>
                <input placeholder="Enter the location">
                <button>Search</button>
            </form>
            <p id='message-one'></p>
            <p id='message-two'></p>
        </div>
        {{>footer}}
         <script src="/js/app.js"></script>
    </body>
</html>
